<div class="container">
  <h2>Edit Profile </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="flex">
    <div class="half-width">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, class: "form-control" %>
    </div>
    <div class="half-width">
      <%= f.label :lastname %>
      <%= f.text_field :lastname, class: "form-control" %>
    </div>
  </div>

  <div>
      <%= f.label :contact %>
      <%= f.text_field :contact, class: "form-control" %>
  </div>

  <div class="flex">
    <div class="half-width">
      <%= f.label :street %>
      <%= f.text_field :street, class: "form-control", required: true %>
    </div>
    <div class="half-width">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control", required: true %>
    </div>
  </div>
  
  <div>
    <%= f.label :country %>
    <%= f.text_field :country, class: "form-control", required: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

 

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
  </div>

  <div>
      <%= f.label :type_of, "User Type"%>
      <%= f.text_field :type_of, disabled: true ,class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-light mt-2 mb-2" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "Back", :back, class: "btn btn-success" %>

</div>
