<table class="table table-hover">
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Task Description</th>
      <th>Working Hours</th>
      <th>Date of log</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @project.timelogs.each do |timelog| %>
      <tr id="<%= timelog.id %>">
        <td> <%= timelog.task_name %> </td>
        <td> <%= timelog.task_description %> </td>
        <td> <%= timelog.working_hours %> </td>
        <td> <%= timelog.date_of_log %> </td>
        <td> <%= link_to "", timelog, class: "fas fa-eye" %> </td>
        <td> <%= link_to "", "", class: "fas fa-edit" %> </td>
        <td> <%= link_to "", "", class: "fas fa-trash" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
