<div class="container-fluid w-75 mt-4">
<!-- users index -->
	<h5>Users</h5>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Email</th>
				<th>Contact</th>
				<th>Address</th>
				<th>Type</th>
        <th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>
				<tr>
					<td> <%= user.firstname %> </td>
					<td> <%= user.lastname %> </td>
					<td> <%= user.email %> </td>
					<td> <%= user.contact %> </td>
					<td> <%= user.address %> </td>
					<td> <%= user.type_of %> </td>
          <td> <%= link_to "", user_path(user), class: "fas fa-eye", title: "view" %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
