<div class="container p-2">
  <div class="alert alert-success" style="display: none;" id="client-success">
    
  </div>
  <% if !current_user.employee? %>
      <button type="button" class="btn btn-success fas fa-plus mb-2" data-toggle="modal" data-target="#new-client">
        New client
      </button>
      <div class="modal fade" id="new-client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">New client</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="client-errors"></div>
            <div class="modal-body">
              <%= render "form", client: Client.new %>
            </div>
          </div>
        </div>
      </div>  
  <% end %>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Admin/Manager</th>
        <% if !current_user.employee? %>
            <th colspan="3">Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody id="client-row">
      <% if current_user.clients.any? %>
          <% @clients.each do |client| %>
          <tr>
            <td> <%= client.firstname %> </td>
            <td> <%= client.lastname %> </td>
            <td> <%= client.email %> </td>
            <td> <%= client.country %> </td>
            <td> <%= client.user.firstname %> </td>
            <% if !current_user.employee? %>
            <td> <%= link_to "", edit_client_path(client), class:  "fas fa-user-edit", title: "edit" %> </td>
            <td> <%= link_to "", client_path(client), class: "fas fa-eye", title: "view" %> </td>
            <td> <%= link_to "", client, method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash", title: "delete" %> </td>
          <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
