<div class="container mt-5">
  <div class="jumbotron" >
    <h1>Client no <%= @client.id %> </h1>
    <h2> <%= @client.firstname + " " + @client.lastname %> </h2>
    <h6> <%= @client.email %> </h6>
    <%= link_to "Back", clients_path , class: "btn btn-light" %>
  </div>
  <%= link_to "Add new Project", new_client_project_path(@client) ,class: "btn btn-success mb-2" %>
  <% if @client.projects.any? %>
      <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Date Start</th>
                <th>Deadline</th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @client.projects.each do |project| %>
                <tr>
                  <td> <%= project.title %> </td>
                  <td> <%= project.start_date %> </td>
                  <td> <%= project.deadline %> </td>
                  <td> <%= link_to "", client_project_path(@client,project), class: "fas fa-eye" %> </td>
                  <td> <%= link_to "", edit_client_project_path(@client,project), class: "fas fa-edit " %> </td>
                  <td> <%= link_to "", project ,method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash" %> </td>
              </tr>
            <% end %>        
            </tbody>
          </table>
      
  <% else %>
      <h3 style="text-align: center;">No Project in list</h3>    
  <% end %>   
</div>
