<div class="container mt-5">
  <div class="jumbotron" >
    <h1>Client no <%= @client.id %> </h1>
    <h2> <%= @client.firstname + " " + @client.lastname %> </h2>
    <h6> <%= @client.email %> </h6>
    <%= link_to "Back", clients_path , class: "btn btn-dark" %>
  </div>
  <button type="button" class="btn btn-success fas fa-plus mb-2" data-toggle="modal" data-target="#exampleModal">
    New project
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New client</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "projects/form", client: @client, project: Project.new %>
      </div>
    </div>
  </div>
</div>  
  <% if @client.projects.any? %>
      <table class="table table-hover">
            <thead>
              <tr>
                <th>Title</th>
                <th>Date Start</th>
                <th>Deadline</th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @client.projects.each do |project| %>
                <tr>
                  <td> <%= project.title %> </td>
                  <td> <%= project.start_date %> </td>
                  <td> <%= project.deadline %> </td>
                  <td> <%= link_to "", client_project_path(@client,project), class: "fas fa-eye" %> </td>
                  <td> <%= link_to "", edit_client_project_path(@client,project), class: "fas fa-edit " %> </td>
                  <td> <%= link_to "", project ,method: :delete, data: { confirm: "Are you sure?" }, class: "fas fa-trash" %> </td>
              </tr>
            <% end %>        
            </tbody>
          </table>
      
  <% else %>
      <h3 style="text-align: center;">No Project in list</h3>    
  <% end %>   
</div>
