<%= form_with model: [@project.attachments.new], remote: true, id: "attachment-form"  do |f| %>
    <div>
      <%= f.label :attachment_file %>
      <%= f.file_field :attachment_file, class: "btn btn-dark" %>
    </div>

    <div>
      <%= f.hidden_field :project_id %>
    </div>

    <div>
      <%= f.submit class: "btn btn-dark mt-1"%>
    </div>
<% end %>
