<div class="container">
  <h3>Projects</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start date</th>
        <th>Dead Line</th>
        <th>Comments</th>
        <th>Payments</th>
        <th>Working Hours</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td> <%= project.title %> </td>
          <td> <%= project.description %> </td>
          <td> <%= project.start_date %> </td>
          <td> <%= project.deadline %> </td>
          <td> <%= project.comments.count %> </td>
          <td> <%= project.payments.count("amount") %> </td>
          <td> <%= project.timelogs.count("working_hours") %> </td>
          <td> <%= link_to "", project_path(project), class: "fas fa-eye" %> </td>
          <td> <%= link_to "", edit_client_project_path(project.client_id,project), class: "fas fa-edit" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
