<div class="container">
  <div class="jumbotron mt-3 flex">
    <div class="half-width">
      <h3> Project No <%= @project.id %> </h3>
      <h3> <%= @project.title %> </h3>
      <p> <%= @project.description %> </p>
      <p> <strong>Start date:</strong> <%= @project.start_date %> </p>
      <p> <strong>Dead-line:</strong> <%= @project.deadline %> </p>
      <%= link_to "back", client_path(@project.client_id), class: "btn btn-light" %>
    </div>
    <div class="half-width p-5">
      <h6> <strong> Total Comments  </strong> <%= @project.comments.count %> </h6>
      <h6> <strong> Total Amount of Payments  </strong> <%= @project.payments.count(:amount) %> </h6>
      <h6> <strong> Total Hours Spent </strong> <%= @project.timelogs.sum(:working_hours) %> </h6>
      <%= link_to "Members", "#" , class: "btn btn-dark" %>
    </div>
  </div>
</div>
  <div class="container">
    <div class="border rounded  p-2 mb-2">
      <strong> Comments </strong>
      <% if @project.comments.any? %>
          <% @project.comments.last(5).each do |comment| %>
             <div class="p-2 line">
               <p class="flex line">
                <% if comment.user.admin? %>
                    <span>
                      <%= link_to User.find(comment.user_id).full_name, user_path(comment.user_id) %> (Admin)
                    </span>
                <% else %>
                    <%= link_to User.find(comment.user_id).full_name, user_path(comment.user_id) %>
                <% end %>
                <strong style="font-size: 0.8rem; ">  <%= time_ago_in_words(comment.created_at) %>  </strong>
                </p>
               <p class="line ml-3">  <%= comment.comment %> </p>
               <% if current_user.admin? or current_user.id == comment.user_id %>
                  <p class="line half-width"> 
                    <%= link_to "", edit_comment_path(comment), class: "fas fa-edit" %>
                    <%= link_to "", comment, method: :delete, data: {confirm: "Are you sure?"}, class: "fas fa-trash" %>
                  </p>
               <% end %>
             </div>
          <% end %>
      <% else %>
          <p class="border rounded p-2 text-danger"> empty comment box </p>    
      <% end %>
      <%= render "comments/form", comment: @project.comments.new %>
    </div>
    <div class="border rounded p-2">
      <strong> Time-logs </strong>
      <%= link_to "Add New Time-log", class: "btn btn-success" %>
      <% if @project.timelogs.any? %>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Date of log</th>
                <th>Working hours</th>
                <th>Task name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @project.timelogs.each do |timelog| %>
              <tr>
                <td> <%= timelog.date_of_log %> </td>
                <td> <%= timelog.working_hours %> </td>
                <td> <%= timelog.task_name %> </td>
                <td> <%= timelog.task_description %> </td>
              </tr>
      <% end %>
            </tbody>
          </table>
      <% else %>
          <p class="border rounded p-2"> No time Log against this project </p>    
      <% end %>
    </div>
</div>
