<div class="container">
  <div class="jumbotron mt-4 p-3">
    <h4>Payment detials</h4>
    <strong>Payment Title: <%= @payment.title %></strong> <br>
    <strong>Payment Title: <%= @payment.description %></strong> <br>
    <strong>Amount: RS  <%= @payment.amount %></strong> <br>
    <strong>Payment Title: <%= @payment.payment_type %></strong> <br>
    <%= link_to "Back", :back, class: "btn btn-dark" %>
  </div>

  <div class="container">
    <div class="border rounded  p-2 mb-5 comments" id="comments" remote: true >
      <strong> Comments </strong>
      <% if @payment.comments.any? %>
          <% @payment.comments.last(5).each do |comment| %>
             <div class="p-2 line">
               <p class="flex line">
                <% if comment.user.admin? %>
                    <span>
                      <%= link_to User.find(comment.user_id).full_name, user_path(comment.user_id) %> (Admin)
                    </span>
                <% else %>
                    <%= link_to User.find(comment.user_id).full_name, user_path(comment.user_id) %>
                <% end %>
                <strong style="font-size: 0.8rem; ">  <%= time_ago_in_words(comment.created_at) %>  </strong>
                </p>
               <p class="line ml-3">  <%= comment.comment %> </p>
               <% if current_user.admin? or current_user.id == comment.user_id %>
                  <p class="line half-width"> 
                    <%= link_to "", edit_comment_path(comment), class: "fas fa-edit" %>
                    <%= link_to "", comment, method: :delete, data: {confirm: "Are you sure?"}, class: "fas fa-trash" %>
                  </p>
               <% end %>
             </div>
          <% end %>
      <% else %>
          <p class="border rounded p-2 text-danger"> empty comment box </p>    
      <% end %>
      <%= render "comments/form", comment: @payment.comments.new %>
    </div>
</div>
