<tr>
  <td> <%= user.firstname %> </td>
  <td> <%= user.lastname %> </td>
  <td> <%= user.email %> </td>
  <td> <%= user.contact %> </td>
  <td> <%= user.address %> </td>
  <td> <%= user.type_of %> </td>
  <td> <%= link_to "", user_path(user), class: "fas fa-eye", title: "view" %> </td>
  <% if current_user.admin? %>
      <td>
        <%= link_to "", edit_admin_user_path(user), class: "fas fa-edit", title: "edit", remote: true %> 
      </td>
      <% if user.enabled? %>
          <td> <%= link_to "", change_user_status_path(id: user) ,data: { confirm: "Are you sure you want to disbale this user?" }, class: "fas fa-times", title: "disable" %> </td>
      <% else %>
          <td> <%= link_to "", change_user_status_path(id: user), data: { confirm: "Are you sure you want to enable this user?" }, class: "fas fa-check-circle", title: "enable" %> </td>  
      <% end %>

      <% if user.employee? %>
          <td> <%= link_to "Make manager", give_manager_rights_path(id: user), data: { confirm: "Are you sure to give manager rights? "}, class: "text-success" %> </td>
      <% elsif user.manager? %>
          <td> <%= link_to "Make employee", "#", data: { confirm: "Are you sure you want to make this user employee?" }, class: "text-danger" %> </td>
      <% else %>
          <td> </td>    
      <% end %>
  <% end %>
</tr>
